{% block body %}

    <h1 align="center"> FEEDBACK DETAIL </h1>
    <hr/>

    <form method="post">
        {% csrf_token %}

         <div align="center">
            <div class="col-md-6" align="left">
            <div class="card card-primary card-outline" class="col-md-4">
              <div class="card-body box-profile">

                <ul class="list-group list-group-unbordered mb-3" >

                    <li class="list-group-item">
                    <b> LOGIN ID: </b> <a class="float-right">{{ object.client }}</a>
                    </li>

                     <li class="list-group-item">
                     <b> RATINGS: </b> <a class="float-right">{{ object.RATINGS }}</a>
                     </li>

                     <li class="list-group-item">
                     <b> COMMENT: </b> <a class="float-right">{{ object.COMMENT }}</a>
                     </li>

                </ul>

              </div>

            </div>

    </div>
             <div align="center">
                 <a href="{% url 'feedback-view' %}" class="btn btn-info"><b>Back</b></a>
            </div>

    </div>

    </form>

{% endblock %}
