{% extends "googlebooks/layout.html" %}
{% load static %}
{% block title %}

{% endblock %}

{% block body %}


{% endblock %}

{% block extra_js %}
<!-- ChartJS -->
<script src="{% static 'plugins/chart.js/Chart.min.js'%}"></script>

 <script>

  $(function () {
    /* ChartJS
     * -------
     * Here we will create a few charts using ChartJS
     */
      // for admission chart
    fetch("http://127.0.0.1:8000/get_petrol_amount/")
      .then(response => response.json())
      .then(data => {
                console.log(data);
          var areaChartData = {
      //labels  : ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
      labels  : data.label,
      datasets: [
        {
          label               : 'Petorl selling',
          backgroundColor     : 'rgba(60,141,188,0.9)',
          borderColor         : 'rgba(60,141,188,0.8)',
          pointRadius          : false,
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : data.values
        }
      ]
    }

              //-------------
    //- BAR CHART -
    //-------------
    var barChartCanvas = $('#bar-chart').get(0).getContext('2d')
    var barChartData = $.extend(true, {}, areaChartData)
    var temp0 = areaChartData.datasets[0]
    barChartData.datasets[0] = temp0
    var barChartOptions = {
      responsive              : true,
      maintainAspectRatio     : false,
      datasetFill             : false,
        scales: {
        yAxes: [{
            display: true,
            ticks: {
               // suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
                // OR //
                beginAtZero: true   // minimum value will be 0.
            }
        }]
    }
    }
    new Chart(barChartCanvas, {
      type: 'bar',
      data: barChartData,
      options: barChartOptions
    })

      } )

  })
</script>

     <script>

  $(function () {
    /* ChartJS
     * -------
     * Here we will create a few charts using ChartJS
     */
      // for admission chart
    fetch("http://127.0.0.1:8000/get_diesel_amount/")
      .then(response => response.json())
      .then(data => {
                console.log(data);
          var areaChartData = {
      //labels  : ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
      labels  : data.label,
      datasets: [
        {
          label               : 'Diesel selling',
          backgroundColor     : 'rgba(60,141,188,0.9)',
          borderColor         : 'rgba(60,141,188,0.8)',
          pointRadius          : false,
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : data.values
        }
      ]
    }

              //-------------
    //- BAR CHART -
    //-------------
    var barChartCanvas = $('#bar-chart1').get(0).getContext('2d')
    var barChartData = $.extend(true, {}, areaChartData)
    var temp0 = areaChartData.datasets[0]
    barChartData.datasets[0] = temp0
    var barChartOptions = {
      responsive              : true,
      maintainAspectRatio     : false,
      datasetFill             : false,
        scales: {
        yAxes: [{
            display: true,
            ticks: {
               // suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
                // OR //
                beginAtZero: true   // minimum value will be 0.
            }
        }]
    }
    }
    new Chart(barChartCanvas, {
      type: 'bar',
      data: barChartData,
      options: barChartOptions
    })

      } )

  })
</script>

     <script>

  $(function () {
    /* ChartJS
     * -------
     * Here we will create a few charts using ChartJS
     */
      // for admission chart
    fetch("http://127.0.0.1:8000/get_creditors_petrol_amount/")
      .then(response => response.json())
      .then(data => {
                console.log(data);
          var areaChartData = {
      //labels  : ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
      labels  : data.label,
      datasets: [
        {
          label               : 'Creditors Petrol Selling',
          backgroundColor     : 'rgba(60,141,188,0.9)',
          borderColor         : 'rgba(60,141,188,0.8)',
          pointRadius          : false,
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : data.values
        }
      ]
    }

              //-------------
    //- BAR CHART -
    //-------------
    var barChartCanvas = $('#bar-chart2').get(0).getContext('2d')
    var barChartData = $.extend(true, {}, areaChartData)
    var temp0 = areaChartData.datasets[0]
    barChartData.datasets[0] = temp0
    var barChartOptions = {
      responsive              : true,
      maintainAspectRatio     : false,
      datasetFill             : false,
        scales: {
        yAxes: [{
            display: true,
            ticks: {
               // suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
                // OR //
                beginAtZero: true   // minimum value will be 0.
            }
        }]
    }
    }
    new Chart(barChartCanvas, {
      type: 'bar',
      data: barChartData,
      options: barChartOptions
    })

      } )

  })
</script>

    <script>

  $(function () {
    /* ChartJS
     * -------
     * Here we will create a few charts using ChartJS
     */
      // for admission chart
    fetch("http://127.0.0.1:8000/get_creditors_diesel_amount/")
      .then(response => response.json())
      .then(data => {
                console.log(data);
          var areaChartData = {
      //labels  : ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
      labels  : data.label,
      datasets: [
        {
          label               : 'Creditors Diesel Selling',
          backgroundColor     : 'rgba(60,141,188,0.9)',
          borderColor         : 'rgba(60,141,188,0.8)',
          pointRadius          : false,
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : data.values
        }
      ]
    }

              //-------------
    //- BAR CHART -
    //-------------
    var barChartCanvas = $('#bar-chart3').get(0).getContext('2d')
    var barChartData = $.extend(true, {}, areaChartData)
    var temp0 = areaChartData.datasets[0]
    barChartData.datasets[0] = temp0
    var barChartOptions = {
      responsive              : true,
      maintainAspectRatio     : false,
      datasetFill             : false,
        scales: {
        yAxes: [{
            display: true,
            ticks: {
               // suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
                // OR //
                beginAtZero: true   // minimum value will be 0.
            }
        }]
    }
    }
    new Chart(barChartCanvas, {
      type: 'bar',
      data: barChartData,
      options: barChartOptions
    })

      } )

  })
</script>

{% endblock %}